<!-- extends ก่อน ค่อย load -->
{% extends 'layout.html' %} 
{% load static %}
{% load crispy_forms_tags %}



{% block title %}บอร์ดเกม{% endblock title %}

{% block styles %}
<style>
/* body{
    background-color: #eef3fe;
}             */
</style>

{% endblock styles %}

{% block content %}

<div class="section showboardgame-sec">
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <div class="sidebar fixed-sidebar">
                    <div class="mb-4">

                           <!---alert --> 
                        {% if messages %}
                            {% for message in messages %}
                                <!-- เช็คว่า สำเร็จหรือไม่ -->
                                {% if message.level_tag == 'error' %}
                                <div class="alert alert-danger"  role="alert">
                                {% endif %}
                                    {{ message }}
                                    {{ form.non_field_errors }} 
                                    <!-- error ในฟอร์ม -->
                                </div>

                            {% endfor %}
                        {% endif %}
                         <!-- ค้นหา -->
                        <form  action="{% url 'seach'%}" method="get">
                            <input type="text"  placeholder="ค้นหาชื่อบอร์ดเกม.." name="search" class="form-search">
                            <button type="submit" class="btn btn-cus3"><i class="bi bi-search me-2"></i>ค้นหา</button>
                        </form>
                        
                    </div>
    
                    <!-- หมวดหมู่ -->
                    <div class="list-group list-cus">
                        <a href="{% url 'boardgame' %}" class="list-group-item category-item" 
                        style=" background-color: #F4313F; color: #ffffff;">ทั้งหมด</a>
                        
                        {% for cate in category_list %}
                            <!-- ถ้ากดแล้วให้ active เช็คค่าที่เลือกว่าตรงกันมั้ย -->
                            {% if cate.name == select_cate%}
                                <a href="{% url 'boardgame-filter' cate.name %}" 
                                class="list-group-item category-item active">{{ cate.name }}</a>
                            {% else %}
                             <!-- อันไม่ได้เลือกก็ปกติ -->
                                <a href="{% url 'boardgame-filter' cate.name %}" 
                                class="list-group-item category-item">{{ cate.name }}</a>
                            {% endif %}

                            
                        {% endfor %}
                        
                    </div>
                     <!-- เกมแนะนำ -->
                    <div class="game_choice mt-3 mb-2">
                        <button type="submit" class="btn btn-cusdetail"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-controller me-2"></i></i>ค้นหาเกมแนะนำ
                        </button>
                    </div>
                   

                </div>
            </div>
    
            <!-- boardgame list -->
            <div class="col-md-9 mb-5">

                <div class="row">
                    <h1 class="mt-2 mb-4">บอร์ดเกมทั้งหมด</h1>
                    {% if boardgame_list %}

                        {% for boardgame in boardgame_list %}

                        <div class="col-4 col-md-4 mb-2"> 
                            <div class="card product-card">
                                
                                <img src="{{ boardgame.image.url }}" alt="Product Image">
                                <div class="card-body card-body-cus text-center">
                                    <h5 class="product-category">{{ boardgame.game_name }}</h5>
                                    <p class="category-name" style="color: rgb(100, 100, 100);">
                                        แนวเกม : 
                                        {% for cate in boardgame.category.all %}
                                            {{ cate.name }}
                                            {% if not forloop.last %} , {% endif %}
                                        {% endfor %}
                                    </p>
                                    <a href="{% url 'boardgame-detail' boardgame.id %}" class="btn btn-cusdetail">เพิ่มเติม</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    
                    {% else %}
                        <div class="col-12 text-center">
                            <h3>ไม่มีบอร์ดเกมที่ต้องการ</้>
                        </div>
                    {% endif %}
                
                </div>
            </div>

        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">กรอกข้อมูลเกมที่คุณต้องการ</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="{% url 'filter' %}" method="get" class="product-form">
                        {% csrf_token %}
                        <div class="form-group row mb-4">
                            <div class="mb-3 col-12 col-md-12">
                                {{ form.category|as_crispy_field }}
                            </div>
                            <div class="mb-3 col-12 col-md-12">
                                {{ form.play_time|as_crispy_field }}
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                {{ form.min_players|as_crispy_field }}
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                {{ form.max_players|as_crispy_field }}
                            </div>
                        </div>
                        <div class="btn-footer mb-5">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-primary">ค้นหา</button>
    
                        </div>
                    </form>
                    

                    
                </div>
            </div>
        </div>
  </div>



       


    </div>

</div>
{% endblock content %}