{% extends 'layout.html' %} 
{% load static %}

{% block title %}แคชเชียร์{% endblock title %}


{% block styles %}
<style>
    body{
        margin: 0;
    }
</style>
{% endblock styles %}


{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="big">
    <div class="left">
        <h1>แคชเชียร์</h1><hr>
        <div class="manage"><br>
            <label for=""><a href="#" class="bar">ระบบชำระเงิน</a></label><br><br>
            <label for=""><a href="#" class="bar">ระบบจัดการโต๊ะ</a></label><br><br><hr><br>
            <label for=""><a href="#" class="bar">ออกจากระบบ</a></label><br><br><hr>
        </div>
    </div>
    <div class="right">
        <h1>ระบบชำระเงิน</h1>
        <div class="box">
            <div class="total">
                <a href="" class="btn"><strong>ทั้งหมด</strong></a>
                <a href="" class="btn"><strong>ว่าง</strong></a>
                <a href="" class="btn"><strong>ไม่ว่าง</strong></a>
                <a href="" class="btn"><strong>จอง</strong></a>
            </div>
        </div>
        <hr>
        <div class="all-card">
            <div class="card-cus">
                <div class="card-body-1">
                    <p><strong>ว่าง</strong></p>
                </div>
                <div class="card-header">
                    <h2>โต๊ะ: 5</h2>
                </div>
                <div class="card-info">
                    <p><strong>ว/ด/ป: </strong></p>
                    <p><strong>เวลา: </strong></p><hr>
                    <p><strong>รวม: </strong></p>
                </div>
                <div class="card-footer-1">
                    <button class="btn-detail">รายละเอียด</button>
                    <button class="btn-check-bill">เช็คบิล</button>
                </div>
            </div>
            <div class="card-cus">
                <div class="card-body-1">
                    <p><strong>ว่าง</strong></p>
                </div>
                <div class="card-header">
                    <h2>โต๊ะ: 5</h2>
                </div>
                <div class="card-info">
                    <p><strong>ว/ด/ป: </strong></p>
                    <p><strong>เวลา: </strong></p><hr>
                    <p><strong>รวม: </strong></p>
                </div>
                <div class="card-footer-1">
                    <button class="btn-detail">รายละเอียด</button>
                    <button class="btn-check-bill">เช็คบิล</button>
                </div>
            </div>
            <div class="card-cus">
                <div class="card-body-1">
                    <p><strong>ว่าง</strong></p>
                </div>
                <div class="card-header">
                    <h2>โต๊ะ: 5</h2>
                </div>
                <div class="card-info">
                    <p><strong>ว/ด/ป: </strong></p>
                    <p><strong>เวลา: </strong></p><hr>
                    <p><strong>รวม: </strong></p>
                </div>
                <div class="card-footer-1">
                    <button class="btn-detail">รายละเอียด</button>
                    <button class="btn-check-bill">เช็คบิล</button>
                </div>
            </div>
            <div class="card-cus">
                <div class="card-body-1">
                    <p><strong>ว่าง</strong></p>
                </div>
                <div class="card-header">
                    <h2>โต๊ะ: 5</h2>
                </div>
                <div class="card-info">
                    <p><strong>ว/ด/ป: </strong></p>
                    <p><strong>เวลา: </strong></p><hr>
                    <p><strong>รวม: </strong></p>
                </div>
                <div class="card-footer-1">
                    <button class="btn-detail">รายละเอียด</button>
                    <button class="btn-check-bill">เช็คบิล</button>
                </div>
            </div>
            <div class="card-cus">
                <div class="card-body-1">
                    <p><strong>ว่าง</strong></p>
                </div>
                <div class="card-header">
                    <h2>โต๊ะ: 5</h2>
                </div>
                <div class="card-info">
                    <p><strong>ว/ด/ป: </strong></p>
                    <p><strong>เวลา: </strong></p><hr>
                    <p><strong>รวม: </strong></p>
                </div>
                <div class="card-footer-1">
                    <button class="btn-detail">รายละเอียด</button>
                    <button class="btn-check-bill">เช็คบิล</button>
                </div>
            </div>
            <div class="card-cus">
                <div class="card-body-1">
                    <p><strong>ว่าง</strong></p>
                </div>
                <div class="card-header">
                    <h2>โต๊ะ: 5</h2>
                </div>
                <div class="card-info">
                    <p><strong>ว/ด/ป: </strong></p>
                    <p><strong>เวลา: </strong></p><hr>
                    <p><strong>รวม: </strong></p>
                </div>
                <div class="card-footer-1">
                    <button class="btn-detail">รายละเอียด</button>
                    <button class="btn-check-bill">เช็คบิล</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}