{% extends 'layout.html' %} 
{% load static %}

{% block title %}]login{% endblock title %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar%}

{% block content %} 
<div class="container-1">
    <div class="intro1">
        <h1>Welcome <br> Sign in to continue</h1>
    </div>
    <div class="space-form">
        <div class="info-box">
            <label for="">Username</label>
            <input type="text" name="" id="">
        </div>
        <div class="info-box">
            <div class="pass">
                <label for="">Password</label>
                <a href="#">Forget password?</a>
            </div>
            <input type="text" name="" id="">
        </div>
        <div class="info-box">
            <button class="but">Sign in</button>
            <p>Don't have an account? <a href="register.html">Create account</a></p>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}