{% extends 'layout.html' %} 
{% load static %}

{% block title %}change password{% endblock title %}
{% block styles %}
<style>
    body{
        overflow-y: hidden;
    }
</style>
{% endblock styles %}

{% block navbar %}
    <div class="container mt-3">
        <a class="navbar-brand " href="{% url 'index' %}">
            <i class="bi bi-arrow-left-square ms-2"></i> 
            <span> ย้อนกลับ</span>
        </a>
    </div>
{% endblock navbar%}

{% block content %}
<div class="container-1">
    <div class="intro2">
        <h1>Change password</h1>
    </div>
    <div class="space-form">
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            
            <div class="info-box">
                <label for="">New Password</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="info-box">
                <label for="">Confirm Password</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <div class="info-box2-2">
                <a href="{% url 'profile_edit' %}" class="but">cancel</a></button>
                <button class="but">save</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}