{% extends 'layout.html' %} 
{% load static %}

{% block title %}โปรไฟล์{% endblock title %}
{% block styles %}
<style>
    body{
        overflow-y: hidden;
    }
</style>
{% endblock styles %}

{% block navbar %}
    <div class="container mt-3">
        <a class="navbar-brand " href="{% url 'index' %}">
            <i class="bi bi-arrow-left-square ms-2"></i> 
            <span> ย้อนกลับ</span>
        </a>
    </div>
{% endblock navbar%}

{% block content %}
    <div class="container-1">
        <div class="text-center">
            <h1>บัตรสมาชิก</h1>
        </div>
        <div class="space-form">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile" class="profile-pic">
            <div class="group">
                <div class="info-box-1">
                    <label for="username"><strong>ชื่อผู้ใช้:</strong> {{user.username}}</label>
                </div>
                <div class="info-box-1">
                    <label for="phone"><strong>หมายเลขโทรศัพท์:</strong> {{user.userdetail.phone_number}}</label>
                </div>
            </div>
            <div class="group">
                <div class="info-box-1">
                    <label for="firstname"><strong>ชื่อ:</strong> {{user.first_name}}</label>
                </div>
                <div class="info-box-1">
                    <label for="lastname"><strong>นามสกุล:</strong> {{user.last_name}}</label>
                </div>
            </div>
            <div class="group">
                <div class="info-box-1">
                    <label for="gender"><strong>เพศ:</strong> {{user.userdetail.gender}}</label>
                </div>
                <div class="info-box-1">
                    <label for="birthdate"><strong>วันเกิด:</strong> {{user.userdetail.birth_date}}</label>
                </div>
            </div>
            <div class="info-box-1">
                <label for="email"><strong>ที่อยู่อีเมล:</strong> {{user.email}}</label>
            </div>
            <div class="info-box-1">
                <label for="password"><strong>รหัสผ่าน: </strong>*********</label>
            </div>
            <div class="info-box-1 mt-3">
                <label for="points"><strong>แต้มคะแนนสะสม: </strong>{{user.userdetail.points}}</label>
            </div>
            <div class="info-box2-2 mt-3">
                <a href="{% url 'profile_edit' %}" class="btn btn-cus2" style="width: 100%;">แก้ไขโปรไฟล์</a></button>
            </div>
            <div class="info-box2-2 mt-3">
                <a href="{% url 'logout' %}" class="btn btn-cus3" style="width: 100%;">ออกจากระบบ</a></button>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}