{% extends 'layout.html' %} 
{% load static %}

{% block title %}โปรไฟล์{% endblock title %}
{% block styles %}
<style>
    body{
        overflow-y: hidden;
    }
</style>
{% endblock styles %}

{% block navbar %}
    <div class="container mt-3">
        <a class="navbar-brand " href="{% url 'index' %}">
            <i class="bi bi-arrow-left-square ms-2"></i> 
            <span> ย้อนกลับ</span>
        </a>
    </div>
{% endblock navbar%}

{% block content %}
    <div class="container-1">
        <div class="intro2">
            <h1>Profile</h1>
        </div>
        <div class="space-form">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile" class="profile-pic">
            <div class="group">
                <div class="info-box-1">
                    <label for="username"><strong>Username:</strong> {{user.username}}</label>
                </div>
                <div class="info-box-1">
                    <label for="phone"><strong>Phone number:</strong> {{user.userdetail.phone_number}}</label>
                </div>
            </div>
            <div class="group">
                <div class="info-box-1">
                    <label for="firstname"><strong>First Name:</strong> {{user.first_name}}</label>
                </div>
                <div class="info-box-1">
                    <label for="lastname"><strong>Last Name:</strong> {{user.last_name}}</label>
                </div>
            </div>
            <div class="info-box-1">
                <label for="email"><strong>Email address:</strong> {{user.email}}</label>
            </div>
            <div class="info-box-1">
                <label for="password"><strong>Password: *********</strong> </label>
            </div>
            <div class="info-box2-2">
                <a href="{% url 'profile_edit' %}" class="btn btn-cus2" style="width: 100%;">edit</a></button>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}