{% extends 'layout.html' %} 
{% load static %}

{% block title %} Register {% endblock title %}

{% block navbar %}
{% endblock navbar%}


{% block content %} 
<div class="container-1">

    <div class="intro2">
        <h1>Create an account</h1>
    </div>

    <form action="" method="post">
        <div class="space-form">
            <div class="group">
                <div class="info-box">
                    <label for="">Username</label>
                    <input type="text" name="" id="">
                </div>
                <div class="info-box">
                    <label for="">Phone number</label>
                    <input type="text" name="" id="">
                </div>
            </div>
            <div class="group">
                <div class="info-box">
                    <label for="">First Name</label>
                    <input type="text" name="" id="">
                </div>
                <div class="info-box">
                    <label for="">Last Name</label>
                    <input type="text" name="" id="">
                </div>
            </div>
            <div class="info-box">
                <label for="">Email address</label>
                <input type="text" name="" id="">
            </div>
            <div class="group">
                <div class="info-box">
                    <label for="">Password</label>
                    <input type="text" name="" id="">
                </div>
                <div class="info-box">
                    <label for="">Confirm password</label>
                    <input type="text" name="" id="">
                </div>
            </div>
            <div class="info-box2">
                <button class="btn btn-cus2" style="width: 100%;">Create account</button>
                <p class="txt">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
            </div>
        </div>
    </form>

</div>

{% endblock content %}


{% block footer %}
{% endblock footer %}