<!-- extends ก่อน ค่อย load -->
{% extends 'layout.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %}จองโต๊ะ{% endblock title %}

{% block styles %}
<style>
body{
    background-color: #eef3fe;
}            
</style>

{% endblock styles %}


{% block navbar %}
    <div class="container mt-3 d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="{% url 'index' %}">
            <i class="bi bi-arrow-left-square ms-2"></i> 
            <span> ย้อนกลับ</span>
        </a>

        <button type="submit" name="submit_booking_insert" class="btn btn-cus2" data-bs-toggle="modal" data-bs-target="#bookingHistoryModal">
            ประวัติการจอง
        </button>
    </div>
{% endblock navbar%}


{% block content %}


    <div class="section booking-sec">
        <div class="container booktable">
    
            <div class="section-title mt-5 text-center">
                <h1>สำหรับจองโต๊ะหน้าร้าน</h1>
                <p style="color: crimson;">สามารถกำหนดเวลาการจองได้ไม่เกิน 1 วัน <br>
                เวลาเปิดปิดร้าน 10.00 น. - 23.00 น.</p>
            </div>

            <!---alert --> 
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

            {% endif %}
    
            <!-- ฟอร์มสำหรับจองโต๊ะ -->
            <div class="form-booking">
                <div class="row">
                    <div class="col-12">
    
                        <!-- -alert
                        {{ form.non_field_errors }} -->

                        <!-- ส่วนของฟอร์ม -->
                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="form-group row cont-numtable">
                                <div class="col-sm-12">
                                    <label for="table_id">เลือกโต๊ะ : </label>
                                     {{ form.table }}
                                    
                                </div>
                            </div>
                            
    
                            <div class="form-group row cont-date mb-5">
                                <div class="mb-3 col-12 col-md-4">
                                    {{ form.reservation_date|as_crispy_field }}
                                    <!-- crispy จะแสดงผล validation errors ให้อัตโนมัติ ไม่ต้องกำหนด -->

                                </div>
    
                                <div class="mb-3 col-12 col-md-4">
                                    {{ form.reservation_time|as_crispy_field }}
                                </div>
    
                                <div class="mb-3 col-12 col-md-4">
                                    {{ form.reservation_cap|as_crispy_field }}
                                </div>
                            </div>
    
                            <div class="btn-footer mb-3">
                                <a href="{% url 'index' %}"  class="btn btn-secondary me-2">ยกเลิก</a>
                                <button type="submit" name="submit_booking_insert" class="btn btn-cus2">บันทึก</button>

                            </div>
    
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bookingHistoryModal" tabindex="-1" aria-labelledby="bookingHistoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="bookingHistoryModalLabel">ประวัติการจอง</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" style="width:100%; text-align: left;">
                        <thead>
                            <tr>
                            <th>จองเมื่อ</th>
                            <th>วันที่จอง</th>
                            <th>เวลา</th>
                            <th>โต๊ะ</th>
                            <th>จำนวนคน</th>
                            <th>สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% if reservation_table %}
                            {% for r in reservation_table %}
                            <tr>
                                <td style="white-space: nowrap;">{{ r.created_at }}</td>
                                <td style="white-space: nowrap;">{{ r.reservation_date }}</td>
                                <td style="white-space: nowrap;">{{ r.reservation_time }}</td>
                                <td>{{ r.table.id  }}</td>
                                <td>{{ r.reservation_cap  }}</td>
                                <td>{{ r.status  }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
            
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        </div>
    </div>


  

{% endblock content %}


{% block footer %}

{% endblock footer %}