{% extends 'admin/layout_admin.html' %} 
{% load static %}

{% block title %}ิbill{% endblock title %}


{% block navbar %}
<div class="sidebar bg-dark pe-2">
    <h2 class="text-center title-admin mb-4" style="color: aliceblue;">แคชเชียร์</h2>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'cashier_table' %}">จัดการโต๊ะ</a>
        </li>
        <li class="nav-item"></li>
            <a class="nav-link" href="{% url 'cashier_list' %}">จัดการการจองโต๊ะ</a>
        </li>

        <hr  style="color: rgb(255, 255, 255); width: 80%; border-width: 3px ; margin: 20px auto;">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">ออกจากระบบ</a>
        </li>
    </ul>
</div>
{% endblock navbar %}

{% block content %}
<div class="big">
    <div class="right">
        <div class="box-2">
            <h1 class="mid">ชำระเงิน โต๊ะที่ {{reservation.table.id}}</h1>
            <hr style="width: 100%;">
            <div class="card-cus-2">
                <div class="mid">
                    <p><strong>จำนวนลูกค้า:</strong> {{reservation.reservation_cap}} ท่าน</p>
                    <p><strong>เวลาเริ่มต้น:</strong> {{playsession.start_time}}</p>
                    <p><strong>เวลาเล่นจบ:</strong> {{playsession.end_time}}</p>
                </div>
                <hr>
                <div class="games">
                    <div><strong>รายการบอร์ดเกม</strong></div>
                    <div><strong>ราคา</strong></div>
                </div>
                <!-- แสดงรายการทั้งหมด -->
                <div class="games">
                    <div>boardgames x {{reservation.reservation_cap}}</div>
                    <div>{{playsession.total_cost}}</div>
                </div><hr>
                <div class="games">
                    <div><strong>รวม</strong></div>
                    <div>{{playsession.total_cost}}</div>
                </div>
            </div>
            <div class="card-cus-3">
                <div class="butt">
                    <a href="{% url 'cashier_detail' reservation.table.id %}" class="btn but-7">กลับ</a>
                    <a href="{% url 'cashier_payments' reservation.table.id %}" class="btn but-8">เช็คบิล</a>
                </div>
            </div>
            
        </div>

    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}