{% extends 'cashier/layout_cashier.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %}รับโต๊ะ{% endblock title %}


{% block content %}
<div class="big">
    <div class="right">
        <div class="box-2">
            <h1 class="mid">จัดการรับโต๊ะที่ {{table.id}}</h1>
            <hr style="width: 100%;">
            <div class="card-cus-1">
                <form action="{% url 'cashier_serve_table' table.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row mb-4">
                        <div class="mb-3 col-12 col-md-12">
                            {{form.num_players|as_crispy_field}}
                        </div>
                        <div class="mb-3 col-12 col-md-12">
                            {{form.phone_number|as_crispy_field}}
                        </div>
                    </div>
                    <div class="butt">
                        <a href="{% url 'cashier_table' %}" class="btn but-7">กลับ</a>
                        <button type="submit" class="btn but-3">รับโต๊ะ</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}