{% extends 'admin/layout_admin.html' %} 
{% load static %}

{% block title %}แคชเชียร์{% endblock title %}


{% block navbar %}
<div class="sidebar bg-dark pe-2">
    <h2 class="text-center title-admin mb-4" style="color: aliceblue;">แคชเชียร์</h2>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'cashier_table' %}">จัดการโต๊ะ</a>
        </li>
        <li class="nav-item"></li>
            <a class="nav-link" href="{% url 'cashier_list' %}">จัดการการจองโต๊ะ</a>
        </li>

        <hr  style="color: rgb(255, 255, 255); width: 80%; border-width: 3px ; margin: 20px auto;">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">ออกจากระบบ</a>
        </li>
    </ul>
</div>
{% endblock navbar %}

{% block content %}
<div class="big">
    <div class="right">
        <h1>จัดการการจองโต๊ะ</h1>
        <hr>
        <table id="dataTable" class="table table-hover" style="width:100%; text-align: left;">
            <thead>
                <tr>
                    <th>ชื่อ-นามสกุล</th>
                    <th>โต๊ะ</th>
                    <th>จำนวนคน</th>
                    <th>เบอร์โทรศัพท์</th>
                    <th>วัน-เวลาที่จอง</th>
                    <th>การดำเนินการ</th>
                </tr>
            </thead>
            <tbody>
                {% for i in reserv %}
                    <!-- ถ้าอยู่ในสถานะนี้ให้แสดงข้อมูล -->
                    {% if i.status == 'Pending' %}
                    <tr>
                        <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                        <td>{{ i.table_id }}</td>
                        <td>{{ i.reservation_cap }}</td>
                        <td>{{ i.user.userdetail.phone_number }}</td>
                        <td>{{ i.reservation_date }} : {{ i.reservation_time }}</td>
                        <td>
                            <a href="{% url 'cashier_confirm' i.id %}" class="btn btn-success">ยืนยัน</a>
                            <a href="{% url 'cashier_cancel' i.id %}" class="btn btn-secondary">ยกเลิก</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}