{% extends 'cashier/layout_cashier.html' %} 
{% load static %}

{% block title %}แคชเชียร์{% endblock title %}


{% block content %}
<div class="big">
    <div class="right">
        <h1>จัดการการจองโต๊ะ</h1>
        <hr>
        <table id="dataTable" class="table table-hover" style="width:100%; text-align: left;">
            <thead>
                <tr>
                    <th>ชื่อ-นามสกุล</th>
                    <th>โต๊ะ</th>
                    <th>บอร์ดเกมที่จอง</th>
                    <th>จำนวนคน</th>
                    <th>เบอร์โทรศัพท์</th>
                    <th>วัน-เวลาที่จอง</th>
                    <th>การดำเนินการ</th>
                </tr>
            </thead>
            <tbody>
                {% for i in reserv %}
                <!-- ถ้าอยู่ในสถานะนี้ให้แสดงข้อมูล -->
                    <tr>
                        <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                        <td>{{ i.table_id }}</td>
                        {% if i.board_game != Null  %}
                        <td>{{ i.board_game.game_name }}</td>
                        {% else %}
                        <td> - </td>
                        {% endif %}
                        <td>{{ i.reservation_cap }}</td>
                        <td>{{ i.user.userdetail.phone_number }}</td>
                        <td>{{ i.reservation_date }} : {{ i.reservation_time }}</td>
                        <td>
                            <div class="item-2">
                                <a href="{% url 'cashier_confirm' i.id %}" class="btn but-1">ยืนยัน</a>
                                <a href="{% url 'cashier_cancel' i.id %}" class="btn but-2">ยกเลิก</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}