{% extends 'admin/layout_admin.html' %} 
{% load static %}

{% block title %}แคชเชียร์{% endblock title %}


{% block navbar %}
<div class="sidebar bg-dark pe-2">
    <h2 class="text-center title-admin mb-4" style="color: aliceblue;">แคชเชียร์</h2>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'cashier_table' %}">จัดการโต๊ะ</a>
        </li>
        <li class="nav-item"></li>
            <a class="nav-link" href="{% url 'cashier_list' %}">จัดการการจองโต๊ะ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cashier_pay' %}">จัดการการชำระเงิน</a>
        </li>

        <hr  style="color: rgb(255, 255, 255); width: 80%; border-width: 3px ; margin: 20px auto;">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">ออกจากระบบ</a>
        </li>
    </ul>
</div>
{% endblock navbar %}

{% block content %}
<div class="big">
    <div class="right">
        <h1>จัดการการชำระเงิน</h1>
        <hr>
        <div class="all-card">
            {% for i in tables %}
                {% if i.status == 'Occupied' %}
                <div class="card-cus">
                    <div class="card-body-4">
                        <div class="card-header-1">
                            <h2 class="tab">โต๊ะ {{ i.id }}</h2>
                        </div>
                        <p><strong>{{ i.status }}</strong></p>
                    </div><br>
                    <p><strong>จำนวนคน {{ i.table_cap }}</strong></p>
                    <div class="butt">
                        <a href="" class="btn but-3">รายละเอียด</a>
                        <a href="{% url 'cashier_serve' i.id %}" class="btn but-3">เช็คบิล</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- {% for i in tables %}
        <div class="all-card">
            <div class="card">
                <div class="card-body">
                    <p><strong>{{i.status}}</strong></p>
                </div>
                <div class="card-header">
                    <h2>โต๊ะ {{i.id}}</h2>
                </div>
                <div class="card-info">
                    <p><strong>ว/ด/ป: </strong></p>
                    <p><strong>เวลา: </strong></p><hr>
                    <p><strong>รวม: </strong></p>
                </div>
                <div class="card-footer-1">
                    <button class="btn-detail">รายละเอียด</button>
                    <button class="btn-check-bill">เช็คบิล</button>
                </div>
            </div>
        </div>
        {% endfor %} -->
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}

