{% extends 'admin/layout_admin.html' %} 
{% load static %}

{% block title %}แคชเชียร์{% endblock title %}


{% block navbar %}
<div class="sidebar bg-dark pe-2">
    <h2 class="text-center title-admin mb-4" style="color: aliceblue;">แคชเชียร์</h2>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'cashier_table' %}">จัดการโต๊ะ</a>
        </li>
        <li class="nav-item"></li>
            <a class="nav-link" href="{% url 'cashier_confirm' %}">จัดการการจองโต๊ะ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cashier_table' %}">จัดการการชำระเงิน</a>
        </li>

        <hr  style="color: rgb(255, 255, 255); width: 80%; border-width: 3px ; margin: 20px auto;">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">ออกจากระบบ</a>
        </li>
    </ul>
</div>
{% endblock navbar %}

{% block content %}
<div class="big">
    <div class="right">
        <h1>จัดการการจองโต๊ะ</h1>
        <hr>
        {% for i in reserv %}
        <div class="item-1">
            <div>{{i.user.username}}</div>
            <div>{{i.reservation_date}} : {{i.reservation_time}}</div>
            <div class="item-2">
                <button class="btn but-1">ยืนยัน</button>
                <button class="btn but-2">ปฏิเสธ</button>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}