<!-- extends ก่อน ค่อย load -->
{% extends 'admin/layout_admin.html' %} 
{% load static %}
{% load crispy_forms_tags %}



{% block title %} Dashboard {% endblock title %}

{% block styles %}
<style>
    
    body{
        background-color: #eef3fe;
    }

</style>
{% endblock styles %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
    <div class="section addboradgame-sec">
        <div class="container">
    
            <div class="section-title mt-3 text-center">
                <h1>เพิ่มบอร์ดเกมใหม่</h1>
            </div>
             <!---alert --> 
            {% if messages %}
                {% for message in messages %}
                    <!-- เช็คว่า สำเร็จหรือไม่ -->
                    {% if message.level_tag == 'error' %}
                    <div class="alert alert-danger"  role="alert">
                    {% endif %}
                        {{ message }}
                        {{ form.non_field_errors }} 
                        <!-- error ในฟอร์ม -->
                    </div>

                {% endfor %}
            {% endif %}

    
            <!-- ฟอร์มสำหรับจองโต๊ะ -->
            <div class="form-booking">
                <div class="row">
                    <div class="col-12">
    
                        <!-- ส่วนของฟอร์ม -->
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                       
                            <div class="form-group row cont-date mb-4">
                                <div class="mb-3 col-12 col-md-6">
                                    {{ form.game_name|as_crispy_field }}
                                </div>
    
                                <div class="mb-3 col-12 col-md-12">
                                    {{ form.description|as_crispy_field }}
                                </div>
    
                                <div class="mb-3 col-12 col-md-6">
                                    {{ form.min_players|as_crispy_field }}
                                   
                                </div>
                                <div class="mb-3 col-12 col-md-6">
                                    {{ form.max_players|as_crispy_field }}
                                   
                                </div>
                                <div class="mb-3 col-12 col-md-6">
                                    {{ form.category|as_crispy_field }}
                                   
                                </div>
                                <div class="mb-3 col-12 col-md-6">
                                    {{ form.play_time|as_crispy_field }}
                                   
                                </div>

                                <div class="mb-3 col-12 col-md-6">
                                    {{ form.image|as_crispy_field }}
                                   
                                </div>
                                <div class="mb-3 col-12 col-md-6">
                                    {{ form.video_url|as_crispy_field }}
                                   
                                </div>
                                
                            </div>
    
                            <div class="btn-footer mb-5">
                                <button type="submit" name="submit_booking_insert" class="btn btn-cus2 me-3">บันทึก</button>
                                <a href="{% url 'des-boardgame' %}"  class="btn btn-secondary me-2">ยกเลิก</a>

                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
{% endblock content %}