<!-- extends ก่อน ค่อย load -->
{% extends 'admin/layout_admin.html' %} 
{% load static %}
{% load crispy_forms_tags %}



{% block title %} Dashboard {% endblock title %}

{% block styles %}
<style>
    
    body{
        display: flex;
        margin: 0; 
        background-color: #eef3fe;
    }
    
    .sidebar {
            height: 200vh; 
            position: sticky;
            padding-top: 50px; 
    }
 
    .boardgame-list{
       background-color: #ffffff;
       border-radius: 5px;
       box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
       padding: 20px;

    }
    
</style>
{% endblock styles %}

{% block content %}


<div class="row">

    <div class="col-md-12">
        <h1 class="mt-2">จัดการหมวดหมู่</h1>

        <!---alert --> 
        {% if messages %}
            {% for message in messages %}
                <!-- เช็คว่า สำเร็จหรือไม่ -->
                {% if message.level_tag == 'success' %}
                <div class="alert alert-success" role="alert">
                {% elif message.level_tag == 'error' %}
                <div class="alert alert-danger"  role="alert">
                {% endif %}

                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}

        <div class="boardgame-list">
            <div class="d-flex">
                <div class="btnAdd ms-auto">
                    <a href="{% url 'des-categories-add' %}" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalnewCate">
                        <i class="fs-5 bi bi-plus-circle-fill"></i><span class="ms-1">เพิ่มหมวดหมู่</span>
                    </a>
                </div>
            </div>
            

            <table id="dataTable" class="table table-striped" style="width:100%; text-align: left;">
                <thead>
                    <tr>
                        <th>รหัส</th>
                        <th>ชื่อประเภท</th>
                        <th>จัดการ</th>
                    </tr>
                </thead>
                <tbody>

                {% for cate in categories_list %}

                <tr>
                    <td>{{ cate.id }}</td>
                    <td>{{ cate.name }}</td>
              

                    <td>
                        <a href="{% url 'des-categories-edit' cate.id %}" class="btn btn-warning btnEdit">
                            <i class="fs-5 bi bi-pencil-square"></i>
                        </a>

                        <a href="{% url 'des-categories-del' cate.id %}" class="btn btn-danger btnDelete">
                            <i class="fs-5 bi-trash3-fill"></i>
                        </a>

                    </td>
                </tr>

                {% endfor %}
            </table>

        </div>

       
    </div>

      
    <!-- Modal เพิ่มข้อมูล-->
    <div class="modal fade" id="exampleModalnewCate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">เพิ่มหมวดหมู่ใหม่</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'des-categories-add' %}" method="post" class="product-form">
                        {% csrf_token %}
                                        
                            <div class="form-group row mb-4">
                                <div class="mb-3 col-12">
                                    {{ form.name|as_crispy_field }}
                                </div>

                            </div>

                            <div class="btn-footer mb-5">
                                <button type="submit" name="submit_booking_insert" class="btn btn-cus2 me-3">บันทึก</button>
                                <a href="{% url 'des-categories' %}"  class="btn btn-secondary me-2">ยกเลิก</a>

                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    

</div>
{% endblock %}
